body {
    background-color: #af2929;
    font-family: helvetica;
}

header {
    text-align: center;
    background-color: white;
    color: rgb(10, 49, 97);
    border: solid;
    border-radius: 15px;
}
main {
    border: solid;
    border-radius: 15px;
    background-color: rgb(10, 49, 97);
    color: white;
    text-align: center;
}
a {
    color: white;
}
footer {
    border: solid;
    border-radius: 15px;
    background-color: #af2929;
    color: rgb(10, 49, 97);
    text-align: center;
}
